/*-----Adam Demol 2022-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

.input-message {
  background: #eee;
  padding: 1rem;
}

.send-button {
  background: white;
  border: 1px solid #eee;
  width: fit-content;
  padding: 1rem;
  cursor: pointer;
}

.user-info {
  display: flex;
  gap: 2rem;
}